@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #e3f2ff;
  font-family: 'Croissant One', serif; }

/*Logo Tu astrología*/
.logo {
  width: 400px;
  padding: 60px;
  text-align: center; }

/*Enlaces*/
.estiloNav a {
  font-size: 1, 5rem;
  text-align: center;
  text-transform: uppercase bold;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 15px;
  padding: 5px; }
  .estiloNav a:hover {
    background-color: #e3f2ff;
    color: #f8ad8e; }

.encabezado {
  background-color: #002447;
  border-bottom: 5px solid #f8ad8e;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100vw; }

.whatsapp {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  width: 100px; }

/*Contenido*/
.tituloh3 {
  background-color: #f8ad8e;
  color: #002447;
  text-align: center;
  text-transform: uppercase bold;
  font-size: 2rem;
  padding: 16px; }

h3 {
  color: #002447;
  font-size: 1,5rem;
  text-align: center;
  text-transform: uppercase bold;
  padding: 30px; }

.textoPrincipal {
  color: #002447;
  font-size: 1rem;
  text-align: justify;
  margin: 30px 120px; }

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 100px 100px;
  text-align: center;
  display: block; }

/*Banner*/
.banner {
  background-image: url("../img/bannernuevo.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*Titulos*/
h1 {
  font-size: 3rem;
  color: #002447;
  text-align: center; }

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin: 5px 100px;
  padding: 3px;
  color: #002447; }

/*Banner*/
.bannerContenido {
  display: flex;
  flex-direction: column; }

.bannerIconos {
  height: 60px; }

/*Tarjetas*/
.contenedor1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: auto; }

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #002447;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  animation-name: animaciontarjeta;
  animation-duration: 2s;
  position: relative; }
@keyframes animaciontarjeta {
  0% {
    top: 15px;
    bottom: 15px;
    opacity: 0; }
  50% {
    top: 5px;
    bottom: 10px;
    opacity: 50%; }
  100% {
    top: 0;
    bottom: 0;
    opacity: 100%; } }
  .tarjeta img {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 10px; }

.pregunta {
  color: #e3f2ff;
  font-size: bold;
  font-size: 1,5rem;
  text-align: center;
  margin-bottom: 10px; }

.texto {
  color: white;
  font-size: 1rem;
  text-align: center; }

/*Formulario*/
.formulario {
  background-color: #e3f2ff;
  border-radius: 20px;
  padding: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; }

.boton {
  background-color: #002447;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px; }

/*Escuelita*/
.contenedorVideos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.video {
  background-color: #e3f2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

iframe {
  margin: 15px 80px; }

/*Contactarnos*/
.contactos {
  align-items: center; }

.google {
  align-items: center; }

/*Footer*/
footer {
  box-sizing: content-box;
  background-color: #002447;
  display: flex;
  border-top: 5px solid #f8ad8e; }
  footer div {
    text-decoration: none;
    color: white;
    align-items: center; }
    footer div h4 {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      padding-top: 30px; }
      footer div h4 p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center; }

.redeSociales {
  display: flex;
  padding-top: 50px;
  gap: 30px; }

/*Resposive*/
@media (min-width: 300px) and (max-width: 1030px) {
  .logo {
    align-items: center;
    width: 75vw;
    padding: 20px; }

  .whatsapp {
    display: none; }

  .banner {
    padding-left: 0;
    padding-right: 0; }

  .bannerContenido h1 {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem; }
  .bannerContenido h2 {
    align-items: center;
    font-size: 1rem;
    text-align: center;
    width: 50%; }

  .bannerIconos {
    width: 80vw;
    padding-left: 0;
    padding-right: 0;
    display: none; }

  .tituloh3 {
    align-items: center;
    width: 100%; }

  .textoPrincipal {
    display: table-cell;
    text-align: center;
    width: 100%; }

  .contenedor1 {
    grid-template-columns: 1fr; }

  .tarjeta {
    width: 90%;
    padding-left: 0; }

  .img {
    width: 300px; }

  .pregunta {
    font-size: 1rem; }

  .texto {
    width: 80%; }

  #textoh2 {
    text-align: right;
    font-size: 1, 3rem; }

  .footer {
    display: flex;
    flex-direction: column; }

  .footerContenedor {
    align-items: center; }

  .infoContacto h4 {
    text-align: center; }

  .google {
    align-items: center; }

  .redeSociales {
    margin-left: 50px;
    align-items: center; }

  iframe {
    align-items: center;
    width: 80%; } }
@media (max-width: 700px) {
  .bannerIconos {
    display: none; } }

/*# sourceMappingURL=estilo.css.map */
