/*Footer*/

footer {
  box-sizing: content-box;
  background-color: $azul;
  display: flex;
  border-top: 5px solid $naranja;


  div {

    text-decoration: none;
    color: $blanco;
    align-items: center;
    


    h4 {
      width: 100%;
      text-align: center;
      
      margin-top: 30px;
      padding-top: 30px;

      p {
        font-family: $tipografia2;
        text-align: center
        





      }
    }


  }
}

.redeSociales {
  display: flex;
  
  padding-top: 50px;
  gap: 30px;
}